   *, *::after, *::before{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
   }

   :root{
    --yellow: #f1c40f;
    --green : #2ecc71;
    --red: #e74c3c;
    --blue: #3498db;
    --dark-blue: #0a1922;
    --purple: #a20be2;
    --purple-secondary: #614ad3;
    --title-primary-color: rgb(251, 226, 226);
    
   }
   body *{
    font-family: 'Roboto', sans-serif;

   }
   body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40, 40, 85);

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    padding: 20px;
    border-radius: 20px;
        
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--dark-blue);
    box-shadow: rgb(12, 12, 48) 0px 3px 6px,
                 rgba(12, 1, 1, 0.23) 0px 3px 6px;
    margin: -10px;
;
    
}

card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(202, 202, 221);
    box-shadow: rgb(255, 1, 1) 0px 3px 6px,
                 rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: #000000de 2px solid;
    width: 130px;
    height: 50px;
    font: 1000 2.5rem 'Roboto', sans-serif;
}




.card-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;

}

.card-header h1{
    color: var(--title-primary-color);
    font-size: 1.8rem;
    font-weight: 900;
    box-shadow: rgb(12, 4, 4) 0px 3px 6px,
                 rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(61, 61, 104);
 }


.active{ 
    background-color: var(--blue);
    color: var(--title-primary-color);
    font-weight: 700;
    font-size: 12px;
    padding: 8px ;
    border-radius: 20px;
    box-shadow: rgb(238, 6, 6) 0px 3px 6px,
                 rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 90px;
    height: 40px;
                }

.break{
    background-color: rgb(6, 6, 58);
    color: var(--title-primary-color);
    font-weight: 700;
    font-size: 12px;
    padding: 8px ;
    border-radius: 20px;
    box-shadow: rgb(230, 29, 3) 0px 3px 6px,
                 rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 90px;
    height: 40px;
                }

.btn-sucess{
    background-color: var(--green);
    color: var(--title-primary-color);
    font-weight: 700;
    font-size: 12px;
    padding: 8px ;
    border-radius: 20px;
    color: black;
    width: 50px;
    height: 40px;
}

.btn-danger{
    background-color: var(--red);
    color: var(--title-primary-color);
    font-weight: 700;
    font-size: 12px;
    padding: 8px ;
    border-radius: 20px;
    color: black;
    width: 50px;
    height: 40px;
}

.btn-warning{
    background-color: var(--yellow);
    color: var(--title-primary-color);
    font-weight: 700;
    font-size: 12px;
    padding: 8px ;
    border-radius: 20px;
    color: black;
    width: 50px;    
    height: 40px;
}

.progress-bar{
    width: 110%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(var(--blue) 60deg
                     var(--purple) 0deg, );
    border-radius: 50%;
    animation: pulses 3s;
    transition: all ease;
    box-shadow: rgb(185, 38, 38) 0px 3px 6px,
                 rgba(12, 1, 1, 0.23) 0px 3px 6px;}

.progress-bar-inner{
    width: 90%;
    height: 90%;
    background-color: var(--blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 1000 2.5rem 'Roboto', sans-serif;
    background: var(--blue);
    box-shadow: rgb(12, 12, 48) 0px 3px 6px,
                 rgba(12, 1, 1, 0.23) 0px 3px 6px;
    border-radius: 50%;
}


